@media only screen and (max-width: 1930px) {
  .best__line:after {
    height: 94px;
    -webkit-background-size: cover;
    background-size: cover;
    bottom: -90px;
  }
  .modal-dialog {
    width: 600px;
    margin: 271px auto;
  }
}

@media only screen and (max-width: 1690px) {
  .modal-dialog {
    width: 600px;
    margin: 250px auto;
  }
}

@media only screen and (max-width: 1450px) {
  .best__line:after {
    height: 75px;
    -webkit-background-size: cover;
    background-size: cover;
    bottom: -71px;
  }
  .modal-dialog {
    width: 600px;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 1390px) {

  .modal-dialog {
    width: 600px;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 1370px) {
  .best__line:after {
    height: 75px;
    -webkit-background-size: cover;
    background-size: cover;
    bottom: -71px;
  }
  .modal-dialog {
    width: 600px;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 1025px) {
  .header__logo--menu ul li {
    padding-top: 0;
  }
  .header__check {
    padding-right: 19px;
  }
  .header__location, .header__logo--img {
    padding-left: 22px;
  }
  .header__logo--menu ul {
    padding-left: 35px;
  }
  .header__logo--menu ul li a {
    padding: 7px;
    font-size: 10px;
  }
  .header__menu--dropdown .btn {
    font-size: 12px;
    padding-left: 22px;
  }
  .header__menu--dropdown .btn .drop-arrow {
    width: 14px;
    height: 12px;
    background-size: 13px;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 147px;
  }
  .header__menu--dropdown .dropdown-menu li a {
    font-size: 12px;
  }
  .header__menu--search form .search__submit {
    width: 16px;
    height: 16px;
    background-size: 17px;
  }
  .header__menu--search form .search__text {
    padding: 2px 35px 2px 35px;
    font-size: 12px;
  }
  .header__menu--add__shop a, .header__menu--add__adv a {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 7px;
  }
  /*.header__menu--add__shop, .header__menu--add__adv {
    padding-right: 0px;
  }*/
  /*.header__menu--add__shop a img, .header__menu--add__adv a img {
    width: 17%;
    padding: 0px 0px;
    margin: 0px 27px;
  }*/
  /*.header__menu--add__shop a, .header__menu--add__adv a {
    font-size: 9px;
    line-height: 14px;
    padding-top: 10px;
  }*/
  /*.header .nav li a img {
    width: 110px;
    height: 110px;
  }*/
  /*.header .nav li a span {
    margin-top: -31px;
  }*/
  .header .nav li {
    margin: 0px 0px;
  }
  .all__title:before {
    width: 35%;
    left: 27px;
  }
  .all__title:after {
    width: 35%;
    right: 27px;
  }
  .all .owl-carousel__img {
    height: 420px;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 218px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 20px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 15px;
  }
  .best__line:after {
    -webkit-background-size: contain;
    background-size: contain;
    bottom: -73px;
  }
  .best, .new-shops, .coupon {
    padding-left: 0px;
    padding-right: 0px;
  }
  .new-shops__carousel--img {
    width: 100%;
    height: 483px;
    overflow: hidden;
  }
  .new-shops__carousel .owl-prev, .new-shops__carousel .owl-next {
    width: 50px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .new-shops__more {
    width: 50%;
    height: 240px;
  }
  .new-shops__more--link:hover {
    font-size: 25px;
  }
  .ad__descr--star {
    background-position: 41px 10px;
  }
  .ad__descr--author, .ad__descr--number, .ad__descr--id, .ad__descr__owner--title, .ad__descr__owner--send, .ad__descr__owner--time {
    font-size: 16px;
  }
  .ad__descr--price, .ad__descr--condition {
    margin-right: 1px;
  }
  .ad__descr--subscribe {
    width: 100%;
    margin: 10px 0px;
  }
  .ad__descr__owner {
    margin-top: 0px;
  }
  .ad__descr__owner--img {
    height: 110px;
  }
  .ad__descr__owner--send {
    width: 67%;
    height: 40px;
    line-height: 39px;
    padding-left: 16px;
  }
  .ad__descr__owner--time {
    width: 67%;
    height: 40px;
    line-height: 39px;
    padding-left: 16px;
  }
  .ad__content__form--field {
    font-size: 20px;
  }
  .coupon__carousel--img {
    height: 260px;
  }
  .footer__nav .nav li a {
    font-size: 27px;
  }
}

@media only screen and (max-width: 770px) {
  .header__logo--menu ul li {
    padding-top: 0;
  }
  .header__location, .header__logo--img {
    padding-left: 10px;
  }
  .header__check {
    padding-right: 10px;
  }
  .header__logo--menu ul {
    justify-content: space-around;
  }
  .header__logo--menu {
    width: 70%;
  }
  .header__logo--menu ul {
    padding-left: 22px;
  }
  .header__menu--dropdown, .header__menu--search {
    width: 50%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    font-size: 12px;
    padding: 15px 10px;
  }
  .header__logo--menu ul li a {
    font-size: 10px;
    padding: 10px 6px;
  }
  .header__menu--dropdown .btn .drop-arrow {
    width: 14px;
    height: 12px;
    background-size: 13px;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 41px;
  }
  .header__menu--dropdown .dropdown-menu li a {
    font-size: 12px;
  }
  .header__menu--search form .search__submit {
    width: 16px;
    height: 16px;
    background-size: 17px;
  }
  .header__menu--search form .search__text {
    padding: 2px 10px 2px 23px;
    font-size: 12px;
  }
  .header__menu--add__shop, .header__menu--add__adv {
    padding-right: 0px;
  }
  .header__menu--add__shop a img, .header__menu--add__adv a img {
    width: 27px;
    height: 27px;
    padding: 0px 0px;
    margin: 0px 11px;
  }
  .header__menu--add__shop a, .header__menu--add__adv a {
    font-size: 9px;
    line-height: 14px;
    padding-top: 10px;
  }
  .header .navbar {
    margin-top: 50px;
  }
  .header .nav li {
    float: left;
  }
  .header .nav li a img, .header .nav li a:hover img {
    width: 80px;
    height: 80px;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: -21px;
  }
  .all__title:before {
    width: 35%;
    left: 8px;
  }
  .all__title:after {
    width: 35%;
    right: 8px;
  }
  .all .owl-carousel__img {
    height: 315px;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 123px;
    right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 20px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 15px;
  }
  .all .owl-carousel .owl-prev, .all .owl-carousel .owl-next {
    -webkit-background-size: 93%;
    background-size: 93%;
  }
  .best__line:after {
    -webkit-background-size: contain;
    background-size: contain;
    bottom: -74px;
  }
  .best, .new-shops, .coupon {
    padding-left: 0px;
    padding-right: 0px;
  }
  .new-shops__carousel--img {
    width: 100%;
    height: 434px;
    overflow: hidden;
  }
  .new-shops__carousel .owl-prev, .new-shops__carousel .owl-next {
    width: 50px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .new-shops__more {
    width: 50%;
    height: 216px;
  }
  .new-shops__more--link {
    width: 100%;
    height: 71px;
    bottom: 0px;
    left: 0px;
  }
  .new-shops__more--link:hover {
    font-size: 25px;
  }
  .coupon .owl-carousel-3__item--content__newprice {
    width: 93px;
    font-size: 24px;
  }
  .coupon .owl-carousel-3__item--content__newprice:before {
    right: 91px;
  }
  .coupon .owl-carousel-3__item--img span {
    font-size: 13px;
  }
  .ad {
    padding: 10px 10px;
  }
  .ad__slider {
    width: 100%;
  }
  .ad__descr {
    width: 100%;
  }
  .ad__descr--date {
    margin-top: 0px;
  }
  .ad__descr--star {
    background-position: 112px 15px;
  }
  .ad__descr--subscribe {
    width: 100%;
    margin: 10px 0px;
  }
  .ad__descr__owner--img {
    height: 150px;
  }
  .ad__descr__owner--title, .ad__descr__owner--send, .ad__descr__owner--time, .ad__descr--reserve {
    font-size: 28px;
  }
  .ad__descr__owner--send {
    width: 67%;
    padding-left: 102px;
  }
  .ad__descr__owner--time {
    width: 67%;
    padding-left: 102px;
  }
  .ad__content {
    width: 100%;
    margin-top: 0px;
  }
  .ad__content--communication:after {
    width: 384px;
    height: 7px;
  }
  .ad__content__form--textarea {
    width: 100%;
    height: 160px;
  }
  .ad__descr {
    width: 100%;
    float: left;
    padding-left: 0px;
    margin-top: 10px;
  }
  .place-ad__subtitle {
    width: 100%;
  }
  .place-ad__add-photo, .place-ad__counter, .place-ad__counter {
    width: 423px;
  }
  .coupon__carousel--img {
    height: 291px;
  }
  .footer__nav .nav li a {
    font-size: 19px;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin-top: 110px;
  }
  .modal-flex .modal-body__container {
    width: 145px;
    height: 145px;
  }
}

@media only screen and (max-width: 600px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 205px;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
    background-color: #ffd800;
    border-bottom: 1px solid white;
  }
  .header .nav li a img {
    display: none;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: 0px;
  }
  .navbar-nav {
    margin: 0px;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  /*.all .owl-carousel__img {
    height: 117px;
  }
  .all .owl-carousel .owl-prev, .all .owl-carousel .owl-next {
    width: 50px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 20px;
    right: 29px;
    padding-right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }*/
  .best, .new-shops, .coupon {
    padding-left: 0px;
    padding-right: 0px;
  }
  .best__title, .new-shops__title, .coupon__title {
    padding-left: 10px;
  }
  .best__title:after, .new-shops__title:after, .coupon__title:after {
    width: 100%;
    height: 51px;
    bottom: -50px;
  }
  .new-shops .owl-carousel-2__item--img {
    height: 416px;
  }
  .new-shops .owl-carousel-2 .owl-prev, .new-shops .owl-carousel-2 .owl-next {
    -webkit-background-size: 74%;
    background-size: 74%;
  }
  .new-shops__more {
    width: 50%;
    height: 255px;
  }
  .coupon__carousel--img {
    height: 255px;
  }
  .coupon__carousel .owl-prev {
    width: 50px;
    height: 50px;
    background: url("../img/arr-left.sm.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    top: 152px;
    left: 1px;
  }
  .coupon__carousel .owl-next {
    width: 50px;
    height: 50px;
    background: url("../img/arr-left.sm.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 152px;
    right: 1px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .ad__descr {
    padding-left: 0px;
    margin-top: 10px;
  }
  .ad__descr--date {
    margin-top: 10px;
  }
  .ad__descr--star {
    text-align: center;
  }
  .ad__descr--author {
    width: 100%;
  }
  .ad__descr--number {
    width: 100%;
    text-align: center;
  }
  .ad__descr--author, .ad__descr--number, .ad__descr--id {
    font-size: 19px;
    text-align: center;
  }
  .ad__descr--subscribe {
    width: 99%;
    float: left;
    margin: 10px 0px;
  }
  .ad__descr__owner--title, .ad__descr__owner--send, .ad__descr__owner--time, .ad__descr--reserve {
    font-size: 19px;
  }
  .ad__descr__owner--send {
    width: 67%;
    padding-left: 5px;
    .fa {
      padding: 0px;
    }
  }
  .ad__descr__owner--time {
    width: 67%;
    padding-left: 5px;
    .fa {
      padding: 0px;
    }
  }
  .ad__content--title {
    font-size: 30px;
  }
  .ad__content--descr, .ad__content--counter, .ad__content--communication {
    font-size: 20px;
  }
  .ad__content--pnumber {
    font-size: 20px;
    line-height: 80px;
  }
  .ad__content--communication:after {
    width: 246px;
    height: 7px;
    bottom: 449px;
  }
  .ad__content__form--field {
    width: 100%;
    font-size: 20px;
  }
  .ad__content__form--textarea {
    width: 100%;
    height: 160px;
  }
  .ad__content--send, .place-ad__field, .place-ad__reminder, .place-ad__form__field, .place-ad__form, .place-ad__descr, .place-ad__photo, .place-ad__add-photo, .place-ad__counter, .place-ad__counter {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__subtitle {
    margin-right: 0px;
  }
  .place-ad__container input[type="checkbox"] + label {
    width: 80%;
  }
  .place-ad__social {
    float: none;
    margin: 0px auto;
  }
  .place-ad__publish {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__notice {
    width: 100%;
    margin-left: 0px;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .reg .change__form {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 124px;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
    background-color: #ffd800;
    border-bottom: 1px solid white;
  }
  .header .nav li a img {
    display: none;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: 0px;
  }
  .header__menu--add__shop a, .header__menu--add__adv a {
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
  }
  .navbar-nav {
    margin: 0px;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  .all .owl-carousel__img {
    height: 117px;
  }
  .all .owl-carousel .owl-prev, .all .owl-carousel .owl-next {
    width: 50px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 20px;
    right: 29px;
    padding-right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }
  .best, .new-shops, .coupon {
    padding-left: 0px;
    padding-right: 0px;
  }
  .best__all {
    right: 16px;
  }
  .new-shops__more {
    width: 100%;
    height: 384px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .ad__descr--star {
    background-position: 46px 15px;
  }
  .ad__descr--author {
    width: 100%;
  }
  .ad__descr--number {
    width: 100%;
    text-align: center;
  }
  .ad__descr--author, .ad__descr--number, .ad__descr--id, .ad__descr__owner--title, .ad__descr__owner--send, .ad__descr__owner--time, .ad__descr--reserve {
    font-size: 12px;
  }
  .ad__descr--subscribe {
    width: 99%;
    margin: 10px 0px;
  }
  .ad__descr__owner--img {
    width: 30%;
    height: 106px;
    margin-right: 10px;
  }
  .ad__descr__owner--send {
    width: 67%;
    padding-left: 5px;
    margin: 0px;
    .fa {
      padding: 0px;
    }
  }
  .ad__descr__owner--time {
    width: 67%;
    padding-left: 5px;
    margin: 0px;
    .fa {
      padding: 0px;
    }
  }
  .ad__descr__owner--img {
    width: 30%;
    height: 106px;
    margin-right: 10px;
  }
  .ad__content--title {
    font-size: 30px;
  }
  .ad__content--descr, .ad__content--counter, .ad__content--communication {
    font-size: 20px;
  }
  .ad__content--pnumber {
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
  }
  .ad__content--communication:after {
    width: 246px;
    height: 7px;
    bottom: 449px;
  }
  .ad__content__form--field {
    width: 100%;
    font-size: 20px;
  }
  .ad__content__form--textarea {
    width: 100%;
    height: 160px;
  }
  .ad__content--send, .place-ad__field, .place-ad__reminder, .place-ad__form__field, .place-ad__form, .place-ad__descr, .place-ad__photo, .place-ad__add-photo, .place-ad__counter, .place-ad__counter {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__title {
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .place-ad__container {
    margin-top: 20px;
  }
  .place-ad__subtitle {
    margin-right: 0px;
  }
  .place-ad__container input[type="checkbox"] + label {
    width: 80%;
  }
  .place-ad__social {
    float: none;
    margin: 0px auto;
  }
  .place-ad__publish {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__notice {
    width: 100%;
    margin-left: 0px;
  }
  .coupon .owl-carousel-3__item--img--favorite {
    top: 13px;
    right: 70px;
  }
  .coupon .owl-carousel-3 .owl-prev {
    -webkit-background-size: contain;
    background-size: contain;
    left: 0px;
  }
  .coupon .owl-carousel-3 .owl-next {
    -webkit-background-size: contain;
    background-size: contain;
    right: 0px;
  }
  .coupon .owl-carousel-3__item--img {
    height: 189px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .reg .change__form {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 102px;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
    background-color: #ffd800;
    border-bottom: 1px solid white;
  }
  .header .nav li a img {
    display: none;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: 0px;
  }
  .header__menu--add__shop a, .header__menu--add__adv a {
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
  }
  .navbar-nav {
    margin: 0px;
  }
  .all__title:before {
    display: none;
  }
  .all__title:after {
    display: none;
  }
  .all .owl-carousel__img {
    height: 117px;
  }
  .all .owl-carousel .owl-prev, .all .owl-carousel .owl-next {
    width: 50px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 20px;
    right: 29px;
    padding-right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }
  .best, .new-shops, .coupon {
    padding-left: 0px;
    padding-right: 0px;
  }
  .new-shops__more {
    width: 100%;
    height: 357px;
  }
  .new-shops .owl-carousel-2 .owl-prev {
    margin-top: -32%;
    margin-left: 0px;
  }
  .new-shops .owl-carousel-2 .owl-next {
    margin-top: -32%;
    margin-right: 0px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .ad__descr--author {
    width: 100%;
  }
  .ad__descr--number {
    width: 100%;
    text-align: center;
  }
  .ad__descr--author, .ad__descr--number, .ad__descr--id, .ad__descr__owner--title, .ad__descr__owner--send, .ad__descr__owner--time, .ad__descr--reserve {
    font-size: 12px;
  }
  .ad__descr--subscribe {
    width: 99%;
    margin: 10px 0px;
  }
  .ad__descr__owner--img {
    width: 30%;
    height: 106px;
    margin-right: 10px;
  }
  .ad__descr__owner--send {
    width: 67%;
    padding-left: 5px;
    margin: 0px;
    .fa {
      padding: 0px;
    }
  }
  .ad__descr__owner--time {
    width: 67%;
    padding-left: 5px;
    margin: 0px;
    .fa {
      padding: 0px;
    }
  }
  .ad__content--title {
    font-size: 30px;
  }
  .ad__content--descr, .ad__content--counter, .ad__content--communication {
    font-size: 20px;
  }
  .ad__content--pnumber {
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
  }
  .ad__content--communication:after {
    width: 246px;
    height: 7px;
    bottom: 449px;
  }
  .ad__content__form--field {
    width: 100%;
    font-size: 20px;
  }
  .ad__content__form--textarea {
    width: 100%;
    height: 160px;
  }
  .ad__content--send, .place-ad__field, .place-ad__reminder, .place-ad__form__field, .place-ad__form, .place-ad__descr, .place-ad__photo, .place-ad__add-photo, .place-ad__counter, .place-ad__counter {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__title {
    font-size: 17px;
    margin-top: 0px;
  }
  .place-ad__subtitle {
    margin-right: 0px;
  }
  .place-ad__container input[type="checkbox"] + label {
    width: 100%;
  }
  .place-ad__social {
    float: none;
    margin: 0px auto;
  }
  .place-ad__publish {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__notice {
    width: 100%;
    margin-left: 0px;
  }
  .coupon .owl-carousel-3__item--img {
    height: 176px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .reg .change__form {
    width: 100%;
  }
  #Go_Top {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 330px) {
  .header__logo--img {
    width: 100%;
  }
  .header__logo--menu {
    width: 100%;
  }
  .header__logo--menu ul li {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
  .header__menu {
    height: auto;
  }
  .header__menu--dropdown {
    width: 100%;
  }
  .header__menu--dropdown .btn {
    text-align: center;
  }
  .header__menu--dropdown .dropdown-menu {
    left: 89px;
  }
  .header__menu--search {
    width: 100%;
  }
  .header__menu--add {
    width: 100%;
  }
  .header .nav li {
    width: 100%;
    text-align: center;
    background-color: #ffd800;
    border-bottom: 1px solid white;
  }
  .header .nav li a img {
    display: none;
  }
  .header .nav li a span {
    font-size: 11px;
    margin-top: 0px;
  }
  .header__menu--add__shop a, .header__menu--add__adv a {
    font-size: 11px;
    line-height: 15px;
    padding-top: 10px;
  }
  .navbar-nav {
    margin: 0px;
  }
  .all {
    padding-left: 10px;
    padding-right: 10px;
  }
  .all .owl-carousel__img {
    height: 117px;
  }
  .all .owl-carousel .owl-prev, .all .owl-carousel .owl-next {
    width: 50px;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .all .owl-carousel__img--slogan {
    width: 50%;
    top: 20px;
    right: 29px;
    padding-right: 0px;
  }
  .all .owl-carousel__img--slogan h3 {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 0px;
  }
  .all .owl-carousel__img--slogan p {
    font-size: 6px;
  }
  .best__title {
    font-size: 12px;
  }
  .best__all {
    font-size: 14px;
    margin-top: 13px;
  }
  .best__title, .new-shops__title, .coupon__title {
    padding-left: 10px;
  }
  .best__title:after, .new-shops__title:after, .coupon__title:after {
    width: 100%;
    height: 40px;
    bottom: -41px;
  }
  .new-shops__carousel .owl-prev, .new-shops__carousel .owl-next {
    width: 50px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .new-shops__more {
    width: 100%;
    height: 200px;
  }
  .coupon__carousel .owl-prev {
    width: 50px;
    height: 50px;
    background: url("../img/arr-left.sm.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    top: 152px;
    left: 1px;
  }
  .coupon__carousel .owl-next {
    width: 50px;
    height: 50px;
    background: url("../img/arr-left.sm.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 152px;
    right: 1px;
  }
  .reg__form--field {
    width: 93%;
    font-size: 18px;
  }
  .reg__form--btn {
    width: 263px;
  }
  .ad--title {
    line-height: 32px;
  }
  .ad__descr {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding-left: 0px;
    margin-top: 22px;
  }
  .ad__descr--date {
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .ad__descr--price, .ad__descr--condition, .ad__descr--star {
    width: 100%;
    text-align: center;
  }
  .ad__descr--star {
    background-size: 27px;
    background-position: 136px 15px;
  }
  .ad__descr__owner--img {
    height: 100px;
  }
  .ad__descr--author {
    width: 100%;
  }
  .ad__descr--number {
    width: 100%;
    text-align: center;
  }
  .ad__descr--author, .ad__descr--number, .ad__descr--id, .ad__descr__owner--title {
    font-size: 19px;
    text-align: center;
  }
  .ad__descr--subscribe {
    width: 99%;
    margin: 10px 0px;
  }
  .ad__descr__owner--send {
    width: 66%;
    padding-left: 5px;
    .fa {
      padding: 0px;
    }
  }
  .ad__descr__owner--time {
    width: 66%;
    padding-left: 5px;
    .fa {
      padding: 0px;
    }
  }
  .ad__content--title {
    font-size: 30px;
  }
  .ad__content--descr, .ad__content--counter, .ad__content--communication {
    font-size: 20px;
  }
  .ad__content--pnumber {
    font-size: 20px;
    font-weight: 500;
    line-height: 80px;
  }
  .ad__content--communication:after {
    width: 246px;
    height: 7px;
    bottom: 449px;
  }
  .ad__content__form--field {
    width: 100%;
    font-size: 20px;
  }
  .ad__content__form--textarea {
    width: 100%;
    height: 160px;
  }
  .ad__content--send, .place-ad__field, .place-ad__reminder, .place-ad__form__field, .place-ad__form, .place-ad__descr, .place-ad__photo, .place-ad__add-photo, .place-ad__counter, .place-ad__counter {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__title {
    font-size: 17px;
    margin-top: 0px;
  }
  .place-ad__container {
    margin-top: 20px;
  }
  .place-ad__subtitle {
    margin-right: 0px;
  }
  .place-ad__container input[type="checkbox"] + label {
    width: 100%;
  }
  .place-ad__social {
    float: none;
    margin: 0px auto;
  }
  .place-ad__publish {
    width: 100%;
    margin-left: 0px;
  }
  .place-ad__notice {
    width: 100%;
    margin-left: 0px;
  }
  .coupon .owl-carousel-3__item--img {
    height: 154px;
  }
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__nav ul li {
    float: none;
    text-align: center;
  }
  .modal-body .reg__form--field {
    font-size: 19px;
  }
  .modal-footer .reg__form--btn {
    width: 260px;
  }
  .modal-footer__social--link {
    font-size: 16px !important;
  }
  .reg .change__form {
    width: 100%;
  }
  #Go_Top {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
  .modal-flex .modal-body__container {
    display: block;
    position: relative;
    width: 123px;
    height: 145px;
    cursor: pointer;
  }
}


