@import "libs/_style";
@import "header/_style";
@import "footer/_style";

.error {
  font-size: 12px;
  margin-top: -5px;
}

.auth-icon{
  background: none;
  width: 30px;
  height: 30px;
}

.auth-clients .auth-client .auth-link {
  width: 30px;
  color: #fff;
  line-height: 30px;
}

.modal-dialog{
  z-index: 99999;
}

.obvertka:first-child{
  border-right: none;
}

.memo{
  display: none;
}
/*.form-line{
  float: none;
}*/

.place-ad__form {
  display: block;
  line-height: 47px;
  cursor: pointer;
  color: #1a97bb;
  font-size: 16px;
  font-family: OpenSansRegular;
  text-decoration: underline;

}
.help-block {
  display: block;
  margin-top: 0px!important;
  color: #737373;
}

.btnCategoryEdit{
  text-align: center;
  display: block;
  float: left;
  width: 100%;
}

.btnCategoryEdit span{
  font-size: 14px;
  font-family: OpenSansRegular;
  width: 30%;
  font-weight: 600;
  border-radius: 5px;
  line-height: 30px;
  background-color: #ffd800;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  height: 30px;
  display: inline-block;
  border: none;
  margin-left: 95px;
  cursor: pointer;
  margin-bottom: 15px;
}

.lineAddAds{
  float: left;
  width: 100%;
  margin: 0;
}

.select2{
  width: 70%!important;
  float: right!important;
  margin-top: 15px!important;
}
.select2-selection{
  border: 1px solid #b8b6b6!important;
  border-radius: 0!important;
}

.separatorListCategory {
  float: left;
  display: inline-block;
  line-height: 17px;
  margin-left: 5px;
  margin-right: 5px;
}

li.pagination-prew a, li.pagination-next a {
  display: block;
  width: 12px;
  height: 18px;
  margin-left: -6px;
  &:hover{
    background: none!important;
  }
  &:focus{
    background: none!important;
  }

}



.average-ad-category, .average-ad-time{
  margin-right: 5px;
}

.soc ul li a {
  background: none;
}

.auth-icon.vkontakte{
  background: url(../img/vk.png) no-repeat;
}

.auth-icon.facebook{
  background: url(../img/fb.png) no-repeat;
}


.auth-icon.twitter{
  background: url(../img/tw.png) no-repeat;
}

.auth-icon.google{
  background: url(../img/g+.png) no-repeat;
}

.auth-client{
  float: none;
}


input#profile-avatar {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 160px;
  display: block;
  cursor: pointer;
}

.selectAvatar {
  position: relative;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 850px;
}

.modal-item {
  width: 19%!important;
}

div#jsfilter_ajax_cont {
  position: absolute;
  left: 240px;
  display: none;
  z-index: 9999;
  white-space: nowrap;
  background: none repeat scroll 0 0 #FFFFFF;
  border-right: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 0;
  height: 30px;
  line-height: 28px;
  padding: 0 5px 0 10px;
}

#sel_block_arrow{
  background: url(../img/sel_block_left_arrow.png) no-repeat scroll 0 0 transparent;
  height: 30px;
  left: -5px;
  position: absolute;
  width: 6px;
}

.parentCategoryFieldsFilter, .parentParentCategoryFieldsFilter, .aditionlFieldsFilter, .ajaxAddFieldsFilter, .regionFilter, .cityFilterWr{
  float: left;
  width: 100%;
  padding: 0;
}

.alert-success{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.view-icon-not-kasskade{
  background-image: url(../img/view.png);
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  margin-left: 2px;
  float: left;
  position: relative;
  top: 3px;
}

.file-preview{
  float: left;
}

.file-preview-image {
  vertical-align: middle;

  object-fit: contain;
  width: 100%;
  height: 100%;
}
.kv-file-content{
  width: 211px;
  height: 160px;
  overflow: hidden;
}

.msg_box {
  width: 100%;
  height: auto;
  float: left;
  background-color: grey;
  display: none;
  &_area {
    width: 100%;
  }
}