/*Перенести в основной файл стилей*/
div.add-in-fav {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}

.category-card {
    width: 570px;
}

.category-card__description {

    height: 60px;
    /* width: 58%; */
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}